// _box-model.scss

@import 'utils/variables';

@mixin background-size ($x, $y) {
    background-size: $x $y;
    -webkit-background-size: $x $y;
}

@mixin border-radius ($border-radius) {
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
}

@mixin opacity ($opacity) {
    opacity: $opacity;
    -webkit-opacity: $opacity;
}

@mixin text-decoration ($text-decoration) {
    text-decoration: $text-decoration;
    -webkit-text-decoration: $text-decoration;
}

@mixin hover-focus-active {
    &:hover, &:focus, &:active {
        @content;
    }
}

@mixin attention {
    @include hover-focus-active {
        outline: none;
        transition: 0.3s opacity;
        @include opacity(0.7);
        
        @content;
    }
}

@mixin box-shadow-helper ($color) {
    box-shadow: 0.1rem 0.1rem 0.5rem 0 $color;
}

@mixin box-shadow-hover {
    @include box-shadow-helper($light_gray);

    @include attention {
        @include box-shadow-helper($dark_gray);
        transition: all 0.3s;
    }
}