// _icons.scss

@import '../vendor/sass-import-once';
@import '../utils/breakpoints';
@import '../utils/box-model';

@mixin icon-pos ($height, $top, $bkgnd-x-pos) {
    height: $height;
    top: $top; // Vertical centering
    background-position: -$bkgnd-x-pos 0; // Sprite position
}

@include exports ('icons') {

%icon {
    position: relative;
    display: none; // Not visible
    width: 2.5rem;
    margin: 0 auto; // Centered
    background-image: url("../../img/icons/nav-icons.png");

    @include min-width($screen-sm) {
        display: block; // Visible3
    }   
}

.icon-about {
    @extend %icon;
    @include icon-pos(2.2rem, -1px, 0);
}

.icon-portfolio {
    @extend %icon;
    @include icon-pos(2rem, -2px, 25px);
}

.icon-resume {
    @extend %icon;
    @include icon-pos(2.4rem, 0, 50px);
}

.icon-blog {
    @extend %icon;
    @include icon-pos(2.2rem, -1px, 75px);
}

.icon-contact {
    @extend %icon;
    @include icon-pos(1.6rem, -4px, 100px);
}

} // End export
