//_button.scss

@import 'vendor/sass-import-once';
@import 'utils/colors';
@import 'components/icons';
@import 'vendor/bootstrap/variables';

/* Designed to work with the following markup:
 * 
 * <div class="button">
 *     <div class="icon">
 *         <img src="..." />
 *     </div>
 *     <button>...</button>
 * </div>
 * 
 */

@mixin button-color($primary, $accent) {
    border-bottom-color: $accent;
    background-color: $primary;

    .icon {
        background-color: $accent;
    }
}

@include exports ('button') {

.button {
    height: 7rem;
    display: inline-block; // Hack: shrinkwrap width to child elements
    padding-left: 0; // Remove default styling
    padding-right: 0; // Remove default styling
    border-bottom: 5px solid $light_gray;
    background-color: $mid_gray;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;

    .icon {
        height: 6.5rem;
        width: 7rem;
        background-color: $light_gray;
    }

    button {
        // Positioning hack for adjacent block elements
        position: relative;
        left: 3.5rem;
        bottom: 6.5rem;
        display: block;
        margin: 1.7rem auto;

        padding: 0; // Remove default styling
        border: none; // Remove default styling
        background-color: transparent; // Remove default styling
        text-transform: uppercase;
    }
}

.button-red {
    @extend .button;
    @include button-color($red, #B80019);
}

.button-orange {
    @extend .button;
    @include button-color($orange, #BE4419);
}

.button-yellow {
    @extend .button;
    @include button-color($yellow, #D5A500);
}

.button-green {
    @extend .button;
    @include button-color($green, #2A9856);
}

.button-blue {
    @extend .button;
    @include button-color($blue, #0B82A4);
}

} // End Export