<div class="item-wrapper col-xs-12 col-sm-4">
    <a class="item-link" href="{{link}}">
        <figure class="item">
            <div class="item-image">
                <img src="{{img_src}}" alt="{{alt}}" />
            </div>
            <figcaption class="item-caption">
                <b class="item-title">{{project_title}}</b>
                {{project_role}}
            </figcaption>
        </figure>
    </a>
</div>