<div class="tweet col-xs-12 col-sm-6 col-md-5">
    <div class="quote">
            {{content}}
    </div>
    <p class="info">
        <span>
            <a href="#">View on Twitter</a>
        </span>
        <span class="pull-right">
            {{time}}
        </span>
    </p>
</div>