<html>
    {% include head.html %}

    <body>
        {% include nav.html %}
        <div class="about">
            <ul>
                <li><a href="mailto:{{ site.email }}" target="blank">📫</a></li>
                <li><a href="{{ site.github }}" target="blank">💻</a></li>
                <li><a href="{{ site.linkedin }}" target="blank">👔</a></li>
                <li><a href="{{ site.instagram }}" target="blank">📸</a></li>
            </ul>
        </div>
    </body>
    <script src="/scripts/images.js" async></script>
</html>
