<html>
    {% include head.html %}

    <body class="root">
        <div class="content">
            <img class="avatar" src="/assets/avatar.jpg" />
            <h1>Hi, I'm Alex Young</h1>
            <div class="links">
                <a href="mailto:{{ site.email }}" target="blank">
                    <img class="link" src="/assets/email.svg" />
                </a>
                <a href="{{ site.linkedin }}" target="blank">
                    <img class="link" src="/assets/linkedin.svg" />
                </a>
                <a href="{{ site.github }}" target="blank">
                    <img class="link" src="/assets/github.svg" />
                </a>
                <a href="{{ site.instagram }}" target="blank">
                    <img class="link" src="/assets/instagram.svg" />
                </a>
                <a href="{{ site.twitter }}" target="blank">
                    <img class="link" src="/assets/twitter.svg" />
                </a>
            </div>
        </div>
    </body>
</html>