<html>
    {% include head.html %}

    <body>
        {% include nav.html %}
        <div class="hero">
            <img src="{{ site.photos.first.photo }}"/>
        </div>
        <div class="carousel">
            <ul>
                {% for item in site.photos %}
                <li onclick="onSelectImage(this)">
                    <img src="{{ item.photo }}" loading="lazy"/>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
    <script src="/scripts/images.js" async></script>
</html>
