---
---

@import 'overrides';

body {
    font-family: 'Roboto Slab', serif;
    color: #303030;
}

h1 {
    font-size: 9vw;
    font-weight: bold;

    @media (min-width: 375px) {
        font-size: 2em;
    }
}

.root {
    display: grid;
    grid-template-columns: auto 80% auto;
    align-items: start;
    justify-items: center;
    width: 100vw;
    background-color: #EFEFEF;

    @media (min-width: 500px) {
        align-items: center;
        height: 100vh;
    }
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-row-gap: 50px;
    grid-template-rows: auto 50px;
    place-items: center;
    margin-top: 50px;

    @media (min-width: 500px) {
        margin-top: 0px;
    }
}

.avatar {
    width: 100%;
    max-width: 280px;
    border-radius: 50%;
}


.links {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 40px;
}

.link {
    height: 40px;
    width: 40px;
}
