---
---

@import 'overrides';

$md-screen: 640px;
$lg-screen: 960px;
$text-color: #303030;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem;
    color: $text-color;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 7vw;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    text-transform: uppercase;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
        display: inline-block;
        padding: 2rem 0 0 0;
    }

    ul {
        text-align: center;
        padding: 1rem 0;
    }

    li {
        padding: 0.5rem 1rem;
    }
}

.hero {
    height: 50vh;
    margin: 0 auto;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.carousel {
    text-align: center;
    padding: 2rem 0;
    overflow: auto;
    white-space: nowrap;
    width: 100%;

    ul {
        display: inline-block;
    }

    li {
        display: inline-block;
        margin: 0 5px;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    img {
        height: 10vh;
        width: 10vh;
        object-fit: cover;
    }
}

@media (min-width: $md-screen) {
    nav h1 {
        padding: 2rem 0;
    }

    .hero {
        height: 60%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    nav {
        flex-direction: row;
    }

    ul, li {
        display: inline-block;
    }
}

@media (min-width: $lg-screen) {
    .hero {
        height: 70%;
    }
}

.about {
    margin: auto 0;
    font-size: 3em;

    li {
        padding: 20px;
    }
}
